.chamado-details-admin {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 900px;
    border-radius: 12px;
    padding: 24px 40px;
    border: 2px solid var(--medium-gray);
    color: var(--dark-blue);
}

.chamado-details-admin-main {
    display: flex;
    width: 100%;
    justify-content: center;
}

.chamado-details-admin-title {
    font-size: 32px;
}

.chamado-details-admin-title p {
    font-size: 16px;
}

.chamado-details-admin-title,
.chamado-details-admin-description,
.chamado-details-admin-status,
.chamado-details-admin-resposta,
.chamado-details-admin-detalhes {
    width: 100%;
    display: flex;
    gap: 8px;
}

.chamado-details-admin :where(h3, h4, p, span)::first-letter {
    text-transform: uppercase;
}

.chamado-details-admin-title {
    align-items: center;
    justify-content: space-between;
}

.chamado-details-admin-description {
    width: 100%;
    border-radius: 4px;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: var(--medium-gray);
}

.chamado-details-admin-status {
    align-items: center;
    margin: 32px 0;
    padding: 0 20px;
}

.chamado-details-admin-resposta,
.chamado-details-admin-detalhes {
    align-items: center;
    padding: 20px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: var(--medium-gray);
}
.chamado-details-admin-detalhes{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    color: #838383;
}
.chamado-details-admin-detalhes2{
    display: flex;
    flex-wrap: wrap;
    color: var(--dark-blue);
    align-items: center;
    margin-top: 8px;
    padding: 20px;
    border-radius: 4px;
    gap: 10px;
    background-color: var(--medium-gray);
}

.chamado-details-admin-files {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 32px;
    gap: 8px;
}

.chamado-details-admin-files img {
    width: 100%;
    max-width: 200px;
    height: 100px;
    border-radius: 4px;
    object-fit: cover;
}

.alert-resposta {
    margin: 15px 5px;
    color: red;
}

.chamado-details-admin-actions {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 12px 0;
    gap: 12px;
}

.chamado-details-admin-actions div {
    width: 100%;
}

.file-image {
    cursor: zoom-in;
    transition: .3s;
}

.file-image:hover {
    transform: scale(1.05);
}

.action-radio-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.action-radio-input .radio-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    background-color: var(--medium-gray);
}

.action-resposta-input {
    display: flex;
    justify-content: center;
}

.action-title {
    display: flex;
    font-size: 18px;
    margin-bottom: 10px;
}

/* Arquivo tela cheia */
.file-modal {
    position: fixed;
    display: flex;
    width: 100%;
    min-height: 100vh;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    backdrop-filter: blur(5px);
}

.file-modal-content {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
    padding: 30px;
    margin-left: 50px;
}

.file-modal-content img {
    display: flex;
    cursor: zoom-out;
}

.close-file-modal {
    display: flex;
    position: relative;
    width: 55px;
    height: 55px;
    align-items: center;
    justify-content: center;
    right: -20px;
    border-radius: 100px;
    cursor: pointer;
    color: var(--dark-blue);
    background-color: rgba(255, 255, 255, 0.5);
}