.chamado-details{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 900px;
    border-radius: 12px;
    padding: 24px 40px;
    border: 2px solid var(--medium-gray);
    color: var(--dark-blue);
}
.chamado-details-main{
    display: flex;
    width: 100%;
    justify-content: center;
}
.chamado-details-title{
    font-size: 32px;
}
.chamado-details-title p{
    font-size: 16px;
}
.chamado-details-title,
.chamado-details-description, .chamado-details-status,
.chamado-details-resposta
{
    width: 100%;
    display: flex;
    gap: 8px;
}
.chamado-details :where(h3, h4, p, span)::first-letter{
    text-transform: uppercase;
}
.chamado-details-title{
    align-items: center;
    justify-content: space-between;
}

.chamado-details-description{
    width: 100%;
    border-radius: 4px;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: var(--medium-gray);
}
.chamado-details-status{
    align-items: center;
    margin: 32px 0;
}

.chamado-details-resposta{
    align-items: center;
    padding: 20px;
    border-radius: 4px;
    background-color: var(--medium-gray);
}

.chamado-details-files{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 32px;
    gap: 8px;
}
.chamado-details-files img{
    width: 200px;
    height: 200px;
    border-radius: 4px;
    object-fit: cover;
}

.alert-resposta{
    margin-top: 12px;
    margin-left: 8px;
    color: red;
}
.chamado-details-actions{
    display: flex;
    width: 100%;
    justify-content: center;
}