.form-login {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: #f6f6f6;
  width: 90%;
  max-width: 500px;
  padding: 40px;
  height: 450px;
  border-radius: 8px;
  color: var(--dark-blue);
}

.form-login h2 {
  text-align: center;
  font-size: 32px;
  color: var(--dark-blue);
  margin-bottom: 24px;
}
.form-login input{
  font-size: 18px;
  padding: 10px;
}
.form-login .acessar-btn{
  font-size: 18px;
  margin-top: 12px;
}

.noLoginContainer{
  display: flex;
  margin-top: 12px;
  justify-content: center;
  align-items: center;
}
.noLogin{
  color: var(--orange);
}