.sidebar-container {
    position: fixed;
    display: flex;
    width: 100%;
    max-width: 300px;
    height: 100%;
    flex-direction: column;
    background-color: var(--dark-blue);
    transition: .3s;
    z-index: 99;
}

.navbrand img {
    width: 250px;
}

.navbar{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 50px;
}
.nav .nav-links{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 8px;
}
.nav-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    color: var(--white);
    background-color: var(--orange);
    border-radius: 4px;
}