:root {
  --orange: #e95525;
  --dark-blue: #002B49;
  --white: #fff;
  --light-blue: #00416f;
  --gray-opacity: #d2d2d2;
  --bg-gray: #f0f0f0;
  --medium-gray: #ebebeb;
  --respondido: #54fc0042;
  --nao-respondido: #fc000033;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

.container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  min-height: 100vh;
  color: white;
  background-color: var(--dark-blue);
}

.divider{
  display: flex;
  width: 85%;
  margin: 0 20px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  margin-bottom: 8px;
}

/* Loading Full Screen */
.loading-full{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.chamado-status{
  background-color: #ACACAC;
  padding: 8px 12px;
  color: var(--dark-blue);
  border-radius: 4px;
  font-weight: bold;
}