:root{
  --orange: #e95525;
}


* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #002b49;
}
a{
  text-decoration: none;
}
button{
  border: none;
}