:root {
  --orange: #e95525;
  --dark-blue: #002B49;
  --white: #fff;
  --light-blue: #00416f;
  --gray-opacity: #d2d2d2;
  --bg-gray: #eaeaea;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

.container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  min-height: 100vh;
  color: white;
  background-color: var(--dark-blue);
}

.divider{
  display: flex;
  width: 85%;
  margin: 0 20px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  margin-bottom: 8px;
}