.title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 32px;
    height: 70px;
    border-radius: 4px;
    margin-bottom: 25px;
    background-color: var(--dark-blue);
    color: var(--white);
    transition: .3s;
}