.container-center-nf{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: 22px;
    min-height: 100vh;
    margin-left: 278px;
    color: var(--dark-blue);
    background-color: white;
    
  }